<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "1"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Sisepuede</name>

  <description>
      app para buscar y plicar empleo
  </description>

  <author email="andresdaniel96@gmail.com">
      DANIEL ANDRES GOMEZ Y JUAN DAVID GIRALDO CORREA 
  </author>
  
  <content src="index.html" />
        <access origin="*" />
    
   <gap:plugin name="cordova-plugin-x-socialsharing" source="npm" />
    
    
    
    </widget>